# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
env/

# Ignore environment variable files
.env
dev.env

# VS Code settings
.vscode/

# Ignore OS-specific files
.DS_Store
Thumbs.db
